extends layout

block content
  .container
    h2 Welcome to user signup and login with Passport Auth
    label(for="login-button") Login:
    a(href="/login")
      button#login-button.button-primary(type="button") Login
    label(for="signup-button") Signup:
    a(href="/signup")
      button#signup-button.button-secondary(type="button") Signup
