extends layout

block content
  .container
    h2 Login
    form(action="/login", method="POST")
      input(type="text", name="username", placeholder="Username", required)
      input(type="password", name="password", placeholder="Password", required)
      input(type="submit", value="Login")
    p Don't have an account? 
      a(href="/signup") Signup
    p Go to home 
      a(href="/home") Home

