extends layout

block content
  .container
    h2 User SignUp
    form(action="/login", method="POST")
      input(type="text", name="username", placeholder="Username", required)
      input(type="password", name="password", placeholder="Password", required)
      input(type="submit", value="Login")
    p Have an account? 
      a(href="/login") Login 
    p Go to home 
      a(href="/home") Home
